[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
selenium = "*"
beautifulsoup4 = "*"
webdriver-manager = "*"
yt-dlp = "*"

[dev-packages]

[requires]
python_version = ">=3.9,<=3.14"
